twitter-to-kafka-service/twitter-to-kafka-service/logs/twitter-to-kafka-service.log
twitter-to-kafka-service/twitter-to-kafka-service/logs/archived/twitter-to-kafka-service-log.2024-01-07.0.log
target
twitter-to-kafka-service/logs/twitter-to-kafka-service.log
twitter-to-kafka-service/twitter-to-kafka-service/logs/twitter-to-kafka-service.log
twitter-to-kafka-service/twitter-to-kafka-service/logs/twitter-to-kafka-service.log
