app-config-data/target
config-server/target
kafka/kafka-admin/target
kafka/kafka-model/target
kafka/kafka-producer/target
twitter-to-kafka-service/target
*.class
common-config/target
config-server-repository/target
kafka/target
*.log